@model IEnumerable<TiendaOnline.Models.Domian.CarritoModel>
@{
    ViewData["Title"] = "Carrito de Compras";
}

<h2 class="text-center text-dark mb-4">Carrito de Compras</h2>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Producto?.Nombre</td>
                <td>$@item.Producto?.Precio</td>
                <td>@item.Cantidad</td>
                <td>$@(item.Cantidad * item.Producto?.Precio)</td>
                <td>
                    <form asp-action="Eliminar" asp-route-id="@item.CarritoId" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="FinalizarCompra" class="btn btn-success mt-3">Finalizar Compra</a>